body {
    font-family: 'Roboto', sans-serif;
    background-color: #121212;
    color: #ffffff;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#initialContainer, #mainContainer {
    text-align: center;
    background-color: #1e1e1e;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 100%;
    max-width: 600px;
}

h1 {
    margin-bottom: 75px;
    font-size: 54px;
    color: #1db954;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

p {
    font-size: 24px;
    margin-bottom: 75px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#videoContainer {
    position: relative;
    margin-bottom: 75px;
}

#video {
    border-radius: 10px;
}

#overlayCanvas {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 10px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #1db954;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

button:hover {
    background-color: #1aa34a;
}

#emotionDisplay {
    margin-top: 300px;
    font-size: 30px;
    color: #ffffff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#playlists {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.playlist {
    background-color: #333333;
    border: 1px solid #444;
    padding: 15px;
    border-radius: 10px;
    width: 180px;
    text-align: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
}

.playlist:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.playlist img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
    height: 180px;
}

.playlist h3 {
    font-size: 16px;
    margin-bottom: 16px;
    color: #1db954;
    height: 50px;
}

.playlist a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    background-color: #1db954;
    border-radius: 10px;
    margin: 5px;
    padding: 10px 20px;
    font-size: 16px;
}

.playlist a:hover {
    border:2px solid #fff;
    background-color: #1aa34a;
}

#startButton{
    font-size: 24px;
}


